.package-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:20px;
    margin-left: 250px;
    margin-top: 120px;
    margin-right: 20px;
}

.package-card{
     width:350px;
    min-height:520px;
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    border:1px solid #eee;
}

.package-image{
    position:relative;
    height:240px;
}

.package-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.featured-badge{
    position:absolute;
    top:12px;
    left:12px;
    background:#f39c12;
    color:#fff;
    padding:8px 14px;
    border-radius:10px;
    font-size:14px;
    font-weight:600;
}

.type-badge{
    position:absolute;
    top:12px;
    right:12px;
    background:#000;
    color:#fff;
    padding:8px 14px;
    border-radius:10px;
    font-size:14px;
    font-weight:600;
}

.package-content{
    padding:25px;
}

.package-content h3{
    font-size:30px;
    margin-bottom:12px;
}

.desc{
    color:#555;
    line-height:1.7;
    margin-bottom:20px;
}

.package-meta{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    color:#444;
}

.price{
    font-size:38px;
    font-weight:700;
    color:#e67e22;
    margin-bottom:20px;
}

.price small{
    display:block;
    font-size:16px;
    color:#666;
    font-weight:400;
}

.package-actions{
    display:flex;
    gap:15px;
}

.package-actions a{
    flex:1;
    text-align:center;
    padding:12px;
    border:1px solid #ddd;
    border-radius:12px;
    text-decoration:none;
    font-weight:600;
}

.package-actions a:last-child{
    color:red;
}

.featured-badge{
    position:absolute;
    top:12px;
    left:12px;
    background:#f59e0b;
    color:#fff;
    padding:8px 14px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:6px;
}

.package-line{
    border:none;
    border-top:1px solid #eee;
    margin:18px 0;
}

.featured-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.switch{
    position:relative;
    display:inline-block;
    width:48px;
    height:24px;
}

.switch input{
    opacity:0;
    width:0;
    height:0;
}

.slider{
    position:absolute;
    cursor:pointer;
    inset:0;
    background:#ddd;
    border-radius:50px;
    transition:.3s;
}

.slider:before{
    position:absolute;
    content:"";
    height:18px;
    width:18px;
    left:3px;
    bottom:3px;
    background:white;
    border-radius:50%;
    transition:.3s;
}

.switch input:checked + .slider{
    background:#111;
}

.switch input:checked + .slider:before{
    transform:translateX(24px);
}