body{
    margin:0;
    font-family:Arial;
    background:#f5f5f5;
}

.sidebar{
    border: 0.5px solid rgb(144, 140, 140);
    position:fixed;
    top:0;
    left:0;
    width:150px;
    height:100%;
    background:white;
    padding:40px;
    box-shadow:2px 0 10px rgba(0,0,0,0.08);
}
.logo{
    text-align: center;
    border: 0.5px solid #ccc;
}
.logo h2{
    color:orange;
    margin:0;
}

.logo p{
    color:#777;
    margin-top:5px;
}

.sidebar ul{
    list-style:none;
    padding:0;
    margin-top:30px;
}

.sidebar ul li{
    margin-bottom:18px;
}

.sidebar ul li a{
    text-decoration:none;
    color:#333;
    font-size:18px;
}

.sidebar ul li a:hover{
    color:orange;
}

.topbar{
    position:fixed;
    top:0;
    left:290px;
    right:0;
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 25px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.content{
    margin-left:290px;
    margin-top:90px;
    padding:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 8px rgba(0,0,0,0.05);
}

.card h3{
    color:#555;
    font-size:18px;
}

.card h1{
    margin-top:10px;
    color:#111;
}

.section{
    background:white;
    margin-top:25px;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 8px rgba(0,0,0,0.05);
}